<% provide(:title, "About")%>
<h1>About the Backchannel App.</h1>
<div class="row">
  <div class="col-xs-6">
    <p>
      This application was designed for the CSC 517 Spr 2014 Ruby on Rails project.
      Team members were Rachel Lloyd, William Morrow, and Mitchell Neville.
    </p>
  </div>
</div>
