<tr>
    <td>
      <%= link_to user.name, user %>
    </td>
    <td>
      <%= user.email %>
    </td>

    <td>
      <%= user.password %>
    </td>
    <td>
      <%= user.user_level %>
    </td>
</tr>