<% provide(:title, "All Users") %>
<h1>All Users.</h1>
<table class="table">
  <tr>
    <th>
      Name
    </th>
    <th>
      Email Address
    </th>
    <th>
      Password
    </th>
    <th>
      Admin
    </th>
  </tr>

  <%= render @users %>
</table>
