<% provide(:title, "Posts") %>


<style type="text/css">
    .newPost {
        text-align: right;
    }
</style>


<h1>Search Results</h1>
<% if @criteria == "post" %>
    <b>Searching for posts with</b> "<%= @query %>" <b>in their content</b>
<%end%>
<% if @criteria == "category" %>
    <b>Searching for posts inside the</b> "<%= @query %>" <b>category</b>
<%end%>
<% if @criteria == "user" %>
    <b>Searching for posts made by the user</b> "<%= @query %>"
<%end%>

<% if @posts.length > 0 %>
<table class="table">
  <tr>
    <th>
      Title
    </th>
    <th>
      Author
    </th>
    <th>
      Category
    </th>
    <th>
      Votes
    </th>
    <th>
      Comments
    </th>
  </tr>

  <%= render @posts %>
</table>
<% else %>
    <h2>No posts found!</h2>
<%end%>
